.nav-text {
    display: flex;
    color: gainsboro;
}

.nav-menu {
    position: fixed;
    left : -100%;
    transition: 850ms;
    display: overlay;
    z-index: 20;
}

.nav-menu.active {
    left : 0;
    transition: 350ms;
    z-index: 20;
}